/** Mejoras Visuales para el panel**/
html {
    scroll-behavior: smooth;
}
body{
    background-color: white;
}
a{
    font-weight: 400;
}
.login-box, .register-box{
    width: 400px;
    max-width: 100%;
    margin-top: -50px;
}

@media(max-width:420px){
    .login-box, .register-box{
        width: 350px;
        max-width: 100%;
        margin-top: -50px;
    }
}

.form-control{
    font-size: 1rem;
    height: calc(1.5em + 0.8rem + 0px);
}
.user-panel .info{
    margin-top: 2px;
}
.navbar{
    border-style: none;
}
.content-header h1{
    color: black;
    font-weight: 600;
}

.sidebar-dark-danger{
    background-color: black !important;
}
.btn-primary,
.btn-info{
    background-color:#ffa023 !important;
    border-color: #ffa023;
    border-radius: 5px;
    
}
.btn-primary:hover{
    border-color: #ffa023;
}
.btn-primary,
.btn-info:hover{
    background-color: #e99221 !important;
    border-color:#ffa023;
}
.btn-primary,
.btn-info:active{
    background-color: #e99221  !important;
    border-color:#ffa023;
}
.btn-ayuda,
.btn-ayuda:hover{
    background-color: #e4586f!important;
    border-color: #e4586f
}

table.import-preview tr.update {
    background-color: whitesmoke !important;
}

.login-box-msg, .register-box-msg{
    font-size: 20px;
}

.col-12{
    padding-bottom: 15px;
}
.form-control{
    margin-bottom: 10px;
}
.fa-inverse{
    color: #888;
}
.elevation-3{
    box-shadow: none !important;
}
.d-block{
    color: black !important;
}
.font-weight-light{
    font-weight: 400 !important;
}
.card-primary.card-outline{
    border-top: 3px solid #000000;
}
.form-control{
    margin-top: 0px;
}
#changelist-search .form-group{
    padding: 3px;
    margin-bottom: 10px;
}
.select2-container{
    min-width: 300px !important;
}
@media (min-width: 576px){
    .form-inline .form-control{
        margin-top: 10px !important;
    }
}

.breadcrumb-item{
    color: #e4586f !important;
}

.form-control-navbar+.input-group-append{
    margin-top: 3px;
}

.input-group:not(.has-validation) > .custom-file:not(:last-child) .custom-file-label::after, .input-group:not(.has-validation) > .custom-select:not(:last-child), .input-group:not(.has-validation) > .form-control:not(:last-child){
    background-color: whitesmoke;
    margin-top: 3px !important;
    color: black;
}

.navbar-light .form-control-navbar + .input-group-append > .btn-navbar{
    background: white;
    border: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__display{
    color: #999 !important;
}

.select2-container{
    width: 300px !important;
    min-width: 200px !important;
}
@media (max-width: 778px){
    .select2-container{
        width: 400px !important;
    }
}
@media (max-width: 598px){
    .select2-container{
        width: 300px !important;
    }
}
@media (max-width: 412px){
    .select2-container{
        width: 230px !important;
    }
}



.p-5{
    padding: 1rem !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
    padding-left: 30px !important;
}

.card-title{
    margin-bottom: 0rem;
}


.btn-outline-secondary{
    color: #999 !important;
    border-color: #999 !important;
}
.btn-outline-secondary:hover{
    border-color: #c4c4c4 !important;
}

.content-header .breadcrumb{
    background-color: #fbfbfb;
    padding: 5px;
    margin-top: -1px;
}
@media (max-width: 412px){
    .content-header .breadcrumb{
        background-color: #fbfbfb;
        padding: 5px;
        margin-top: 5px;
    }
}

.main-footer {
    background-color: white;
    color: black;
    font-weight: 300;
    box-shadow: 0px 0px 1px #999;
}

.timeline > div > .timeline-item > .timeline-header > a{
    font-weight: 300;
}

.alert-danger{
    background-color: #bd2130 !important;
    border-color: #af212f !important;
}

.btn-danger{
    background-color: #bd2130 !important;
    border-color: #af212f !important;
}


.btn-outline-primary{
    color: #e4586f;
    border-color: #e4586f;
}
.btn-outline-primary:hover{
    color: #fff;
    color: #e4586f;
    border-color: #e4586f;
}
.btn-outline-primary:hover{
    color: white;
    background-color: #e4586f;
    border-color: #e4586f;
}

.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle{
    color: #fff;
    border-color: #e4586f;
    background-color: #e4586f;
}
.btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-primary.dropdown-toggle:focus{
    box-shadow: 0 0 0 0.2rem rgba(186, 21, 35, 0.5);
}

.btn-outline-primary.focus, .btn-outline-primary:focus{
    box-shadow: 0 0 0 0.2rem rgba(186, 21, 48, 0.5);
}

.btn.btn-flat{
    padding: 6px;
    border-width: 2px;
    border-radius: 5px;
}
.login-texto{
    font-weight: 600;
}

.texto-contraseña{
    font-weight: 100;
    font-size: 12px;
    margin-bottom: -5px;
}


.input-group-append{
    margin-top: 3.7px;
}

.cambio-contraseña{
    margin: 0px auto;
    margin-top: -30px;
    padding: 15px;
    color: #e4586f;
}

.titulo-graficos{
    text-align: center;
}
.caja-estadistica{
    background-color: white;
    box-shadow: 0px 0px 10px #ededed;
    width: 98%;
    margin: 0px auto;
    border-radius: 10px;
    padding: 10px;
}
.graficos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;
    margin-top: 30px;
}
.contenedor-grafica{
    width: 99%;
    margin: 0px auto;
    margin-top: -20px;
    margin-bottom: 10px;
}

.grafica-reducir{
    width: 65%;
}

@media(max-width:750px){
    .graficos{
        display: flex;
        flex-direction: column;
        
    }
    .contenedor-grafica{
        width: 80%;
        margin: 0px auto;
        margin-top: 10px;
        
    }
    .grafica-reducir{
        width: 50%;
    }
    
}
@media(max-width:420px){
    .graficos{
        display: flex;
        flex-direction: column;
        
    }
    .contenedor-grafica{
        width: 100%;
        margin: 0px auto;
        margin-top: 10px;
        
    }
    .grafica-reducir{
        width: 70%;
    }
    
}

.navbar-expand .navbar-nav{
    gap: 10px;
}

.notificacion{
    margin-top: 8.8px;
    color: gray;
    cursor: pointer;
}
.notificacion:hover{
    color: black;
}
.modal-backdrop{
    position: absolute; 
}

.modal-open .wrapper{
    filter: none !important;
}

.modal-content{
    box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.26);
}
.contenedor-mensaje{
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 10px;
    border-bottom: 1px solid #dbdbdb;
    justify-items: start;
    align-items: center;

    
}
.img-usuario-notificacion{
    width: 70%;
    margin: 0px auto;
    
}

.contenido-mensaje h2{
    font-size: 16px;
    margin: 0;
    margin-bottom: 2px;
    font-weight: 600;
}
.contenido-mensaje p{
    font-weight: 500;
    font-size: 13px;
    margin: 0;
    margin-top: 5px;
}
.contenido-mensaje .fecha{
    font-weight: 400;
    font-size: 12px;
}
.contenido-mensaje .fecha span{
    font-weight: 100;
    font-size: 12px;
}


.alerta{
    color: black;
}
.icono-rojo{
    background: #d62739;
    display: block;
    animation: fadeInFromNone 1s ease-in-out;
}
@keyframes fadeInFromNone {
    0% {
        display: none;
        opacity: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}


  
.alerta-noti{
    height: 8px;
    width: 8px;
    border-radius: 100%;
    position: absolute;
    margin-left: 48px;
    margin-top: 3px;
}

/* .layout-fixed #jazzy-sidebar::before{
    content: "";
    background-image: url('https://images.unsplash.com/photo-1660990983694-b0a200676520?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80');
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 5%;
}

[class*="sidebar-light"] .brand-link, [class*="sidebar-light"] .brand-link .pushmenu{
    position: relative;
} */

.help-video{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    margin: 0px auto;
    justify-items: center;
    padding: 10px 40px;
    margin-bottom: 10px;
    margin-top: -10px;
}
.video{
    width: 90%;
    border: 3px solid #e9e9e9;
    border-radius: 11px;
}

.enlaces-inicio{
    display: flex;
    gap: 20px;
}
.contenido-video p{
    font-weight: 100;
}

@media(max-width:768px){
    .help-video{
        display: flex;
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
    .help-video h2{
        width: 100%;
        text-align: left;
        
    }
    .help-video p{
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
    }
    .video{
        width: 100%;
        border: 3px solid #e9e9e9;
        border-radius: 11px;
    }
    .enlaces-inicio{
        justify-content: flex-start;
    }
}

.titulo-estadisticas{
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
}
.texto-estadisticas{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 100;
}



.modal-backdrop{
    height: 300vh;
}
@media(max-width:720px){
    .modal.modal-wide .modal-dialog{
        width: 80%;
    }
}
@media(max-width:420px){
    .modal.modal-wide .modal-dialog{
        width: 100%;
    }
}


.content-wrapper>.content{
    padding: 1rem 1rem;
    margin-top: -30px;
}
.object-tools{
    margin: 0;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
    margin-top: 40px;
}

.contenedor-cartas{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    margin-top: 60px;
}

.card-informacion{
    width: 85%;
    margin: 0px auto;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 0px;
    position: relative;
}
.icono-card-1{
    font-size: 30px;
    margin-left: 0px;
    margin-top: -29px;
    position: absolute;
    color: white;
    background-color: #a058e4;
    padding: 11px 39px;
    border-radius: 10px;
    transition: 0.2s all ease-in-out;
}

.icono-card-1:hover{
    margin-top: -35px;
    
}
.icono-card-2{
    font-size: 30px;
    margin-left: 0px;
    margin-top: -29px;
    position: absolute;
    color: white;
    background-color: #5a58e4;
    padding: 11px 39px;
    border-radius: 10px;
    transition: 0.2s all ease-in-out;
}
.icono-card-2:hover{
    margin-top: -35px;
}
.icono-card-3{
    font-size: 30px;
    margin-left: 0px;
    margin-top: -29px;
    position: absolute;
    color: white;
    background-color: #e4586f;
    padding: 11px 39px;
    border-radius: 10px;
    transition: 0.2s all ease-in-out;
}
.icono-card-3:hover{
    margin-top: -35px;
}

.card-1{
    background-color: #a058e4;
    color: white;
}
.card-2{
    background-color: #5a58e4;
    color: white;
}
.card-3{
    background-color: #e4586f;
    color: white;
}
.card-caja{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0;
}
.contenido-card{
    margin-top: 20px;
}

.contenido-card h2{
    font-size: 16px;
    font-weight: bold;
}
.contenido-card p{
    font-size: 10px;
}

.numero-card{
    font-weight: bold;
    font-size: 25px;
}
.numero-card{
    margin-top: 20px;
}

@media(max-width:720px){
    .contenedor-cartas{
        display: flex;
        flex-direction: column;
    }
    .card-informacion{
        margin-bottom: 50px;
    }
    .card-caja{
        display: grid;
        grid-template-columns: 2fr 1fr;
        justify-items: center;
        padding: 0px 15px;
    }
}